<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248575536730-9q8j3ue3auc2ikg65ee17937bsras7hp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248575536730-9q8j3ue3auc2ikg65ee17937bsras7hp</string>
	<key>API_KEY</key>
	<string>AIzaSyDPzRnEQEAUmS6QtJWDDReZquIiCm8d054</string>
	<key>GCM_SENDER_ID</key>
	<string>248575536730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.TestPAger</string>
	<key>PROJECT_ID</key>
	<string>stootparts</string>
	<key>STORAGE_BUCKET</key>
	<string>stootparts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248575536730:ios:eed116fb450ff2e3a57263</string>
</dict>
</plist>